@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --primary-blue: hsl(223, 87%, 63%);
    --secondary-pale-blue: hsl(223, 100%, 88%);
    --secondary-light-red: hsl(354, 100%, 66%);
    --neutral-gray: hsl(0, 0%, 59%);
    --neutral-very-dark-blue: hsl(209, 33%, 12%);
}

body {
    display: flex;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

.container {
    margin: auto;
}

.img-title>img {
    width: 60px;
    margin: 50px 0px 0px 190px;
    align-items: center;
    justify-content: center;
}

h2 {
    font-weight: 300;
    padding-left: 80px;
    color: var(--neutral-gray);
}

span {
    font-weight: 700;
    color: var(--neutral-very-dark-blue);
}

p {
    margin: auto;
    padding: 13px 0px 0px 55px;
    font-size: 15px;
    font-weight: 300;
    color: var(--neutral-very-dark-blue);
}
a{
    color: white;
    text-decoration: none;
    cursor: url('hand-pointer-regular.svg'), pointer;
}

input {
    width: 275px;
    height: 36px;
    border-radius: 30px;
    border: 1px solid hsl(230, 40%, 89%);
    padding: 0 15px;

}

input::placeholder {
    color: hsl(230, 40%, 89%);
}
input:focus {
    border-color: initial;
    outline: none; /* Remove a borda de foco padrão */
  }
.error-input {
    border-color: red;
  }
button {
    width: 130px;
    height: 36px;
    border-radius: 30px;
    background-color: var(--primary-blue);
    color: white;
    border-style: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.096);
}

button:hover {
    background-color: hsl(223, 57%, 66%);
    transition: 0.5s;
}

main {
    padding: 50px 0px 0px 0px;
}

/* Estilos para o footer */
footer {
    text-align: center;
    padding: 20px 0;
}

/* Estilos para o container de ícones */
.icon-container {
    display: flex;
    justify-content: center;
    /* Centraliza os ícones horizontalmente */
    gap: 20px;
    /* Espaçamento entre os ícones */
}

/* Estilos para os ícones */
.icon {
    width: 17px;
    height: 30px;
}

.footer-copyright {
    color: var(--neutral-gray);
}